#titulo {
    color: brown;
}

p.parrafo {
    color: slateblue;
}

p.especial {
    color: rgb(211, 221, 28);
}

p.superespecial{
    color: rgba(6, 126, 78, 0.749);
}

div p {
    color: blueviolet;
}

div h2, div h3 {
    color: blue;
}

* { /* esto es un comentario en CSS y puede ponerse en cualquier lugar */
    font-size: small;
}

/* hay distintas convenciones de color, las mas usuadas son la hexagesimal
y la rgb

.color {
    color: #000000;
}

.color {
    color: rgb(0 , 0 , 0);
} 

*/

.secundario {
    color: #0f0;
}

.secundario {
    /* border: 5px black solid; */
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 2px;
}
/*  dotted
    dashed
    solid
    groove
    ridge
    inset
    outset
    none
    hidden */
   
    /* rgba significa que a los colores que elijas le podes dar opacidad, siendo 1
    completamente solido y 0 completamente trasparente, por lo que s ejuega con los
    valores intermedios 0,....
    Opacity le da transparencia al elemento completo y no solo al fondo */
    #fondo {
        /* background-color: rgba(255, 0, 0, 0.3); */
        /* opacity: 0.3; */
        /* background-image: url('HOMER.PNG'); */
        height: 250px;
        background: #0f0 url(HOMER.PNG) repeat-y left bottom / 250px 250px; 
        
    }

    .margen {
        background-color: chocolate;
        margin: 15px;
        padding: 30px 15px;
        border: solid 2px black; 
        height: 50px;
        width: 100px;
        overflow: scroll;
        outline: 2px solid red;
    }

     .text{
        text-align: center;
     }