* {
    margin: 0px;
    padding: 0px;
}

/* NAV. BAR */
.navBar{
    padding: 20px;
    background-color: #333;
}
ul {
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    list-style: none;
    font-size:0 /* truco por el uso de inline-block*/
}
a {
    color: #fff;
    text-decoration: none;
}

li {
    display: inline-block;
    width: 15%;
    position:relative;
    font-size: 14px
}
/* ul ul {
    position: absolute;
    display: none;
}
ul ul li {
    display: block;
}
ul li:hover ul {
    display:block;
} */ /* ESTO ES PARA UN MENU DEPLEGABLE */
 
 

/* TITULO */
.background__h1 {
    margin: 20px 400px;
    padding: 15px 0px 15px 0px;
}
h1 { 
    font-size: x-large;
    font-weight: bold;
    color: #333;
    text-align: center; 
}

/* FIELDSET */
.fieldset{ 
    margin: 20px 400px;
    padding: 15px;
    width: 300px;
    position: 100px;
}
.span{
    margin-right: 5px; 
}
.titulosFieldset{
    font-weight: bold;
    margin: 5px 5px 3px 0px;
}
.btnEnviar{
    padding:3px;
}

/* DIVS */
.uno{
    width: 200px;
    height: 200px;
    background-color: #333;
    color: #fff;
}
.sub{
    width: 60px;
    height: 30px;
    background-color: red;
}
.dos{
    position: relative;
    top: 60px;
    left: 60px;
}
.tres{
    width: 100px;
    height: 50px;
    background-color: #356;
    color: #fff;
    position: fixed;
    top: 80px;
    left: 950px;
    overflow: auto;
}
.cuatro{
    width: 100px;
    height: 50px;
    background-color: rgb(88, 22, 150);
    color: #fff;
    position: sticky;
    top: 10px;
    bottom: 250px;   
}